<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup your account</title>
</head>
<body style="margin:auto;width:50%">

    

    {% if is_signup %}

        <h1>Your form is submitted successfully</h1>
        <a href="#">Go Here to login your account</a>

    {% else %}

    <h1>Sign up</h1>

    <form method="POST">
        {% csrf_token %}
        <input name="username" style="padding: 10px; margin: 10px; width: 100%;" type="text" placeholder="your username"> <br>
        <input name="pass" style="padding: 10px; margin: 10px;width: 100%;" type="password" placeholder="password"> 
        <input name="fn" type="text" style="padding: 10px; margin: 10px;width: 100%;" placeholder="Firstname"><br>
        <input name="ln" type="text" style="padding: 10px; margin: 10px;width: 100%;" placeholder="Lastname"> <br>
        <input style="padding: 10px; margin: 10px; width: 100%;" type="submit">
    </form>
    
    {% endif %}

</body>
</html>