<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Home</title>
</head>
<body style="width:50%; margin: auto; padding: 30px;">
    <h1>All the blogs</h1>
    <!-- <h2> {{ name }} </h2> -->
    {% for blog in blogs %}
        <div>
          <a href="/blog/{{ blog.id }}/">  <h2> {{ blog.title }}</h2> </a>
        </div>

    {% endfor %}


</body>
</html>